In [1]:
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
import pickle

In [2]:
df = sns.load_dataset("iris")
x = df.drop(["species"], axis=1)
y =  df[["species"]]

In [3]:
x.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
y.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [5]:
model = dt.fit(x,y)
model.score(x,y)

1.0

In [6]:
pickle.dump(model, open("iris_model.pkl","wb"))

In [7]:
model.predict([[5.1,	3.5	,1.4,	0.2]])

c:\Users\Faculty\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['setosa'], dtype=object)